html, body {
	margin: 0;
	padding: 0;
}

body {
/*	background-color: rgb(237, 255, 254);*/
/*	background-color: red;*/
	overflow: hidden; 
}

/*.end {
    background-color: rgba(255, 255, 255, 0.5);
    width:100%;
    height:100%;
    position: relative;
    float: right;
}*/

#wheel {
	width: 45vw;
	height:45vw;
	border-radius: 50%;
	background-color: green;
	border: solid 10px yellow;
	margin: auto;
	margin-top: 1.5%;
 	/*box-shadow: 10px 10px 5px gray;*/
}

#push {
	width: 10vw;
	height:10vw;
	border-radius: 50%;
	background-color: rgb(3, 99, 1);
	position: relative;
	right: -38%;
	bottom: -41%;
}

#push:hover {
	background-color: yellow;
	margin-top: 2%;
	width: 9.5vw;
	height: 9.5vw;
}

.letter , p {
	font-size: 5vw;
	color: black;
	font-family: helvetica;
	position: relative;
	float: left;
}

#wheel:hover {
	border: solid 15px yellow;
}

p {
	line-height: 0;
	position: absolute;
	top: 0%;
	max-height: 10%;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

.arrow {
	width: 100%;
	width: 10vw;
	height:10vw;
	position: relative;
	top: -174%;
}

#A {
	top: -1%;
	right: -46%;
}

#B {
	top: 0%;
	right: -48%;
	transform: rotate(10deg);
}

#C {
	top: 4%;
	right: -51%;
	transform: rotate(30deg);
}

#D {
	top: 10%;
	right: -53%;
	transform: rotate(40deg);
}

#E {
	top: 18%;
	right: -52%;
	transform: rotate(60deg);
}

#F {
	top: 27%;
	right: -50%;
	transform: rotate(70deg);
}

#G {
	top: 35%;
	right: -44%;
	transform: rotate(80deg);
}

#H {
	top: 46%;
	right: -37%;
	transform: rotate(90deg);
}

#I {
	top: 57%;
	right: -29%;
	transform: rotate(100deg);
}

#J {
	top: 65%;
	right: -22%;
	transform: rotate(120deg);
}

#K {
	top: 75%;
	right: -7%;
	transform: rotate(130deg);
}

#L {
	top: 82%;
	right: 8%;
	transform: rotate(150deg);
}

#M {
	top: 86%;
	right: 24%;
	transform: rotate(160deg);
}

#N {
	top: 75%;
	right: -50%;
	transform: rotate(170deg);
}

#O {
	top: 75%;
	right: -31%;
	transform: rotate(180deg);
}

#P {
	top: 73%;
	right: -15%;
	transform: rotate(190deg);
}

#Q {
	top: 68%;
	right: 3%;
	transform: rotate(-140deg);
}

#R {
	top: 60%;
	right: 20%;
	transform: rotate(-130deg);
}

#S {
	top: 50%;
	right: 35%;
	transform: rotate(-110deg);
}

#T {
	top: 37%;
	right: 45%;
	transform: rotate(-100deg);
}

#U {
	top: 25%;
	right: 53%;
	transform: rotate(-80deg);
}

#V {
	top: 15%;
	right: 58%;
	transform: rotate(-70deg);
}

#W {
	top: 5%;
	right: 61%;
	transform: rotate(-50deg);
}

#X {
	top: -5%;
	right: 60%;
	transform: rotate(-30deg);
}

#Y {
	top: -9%;
	right: 60%;
	transform: rotate(-20deg);
}

#Z {
	top: -25%;
	right: -38%;
	transform: rotate(-10deg);
}

canvas {
	background-color: white;
	cursor: url(images/pencil.png), crosshair;
	margin: auto;
}

.drawing {
	width: 30%;
	position: absolute;
	top: 55%;
	right: 0%;
}

.pencil {
	width: 10px;
	cursor: none;
}

.link {
	width: 10vw;
	height:10vw;
	position: absolute;
	left: 90%;
	margin-top: 1.5%;
	margin-left: -1.5%;
}

.down {
	width: 10vw;
	height: 10vw;
	top: 25%;
	transform: rotate(90deg);
	position: absolute;
	left: 90%;
	margin-top: 1.5%;
	margin-left: -1.5%;
}

.hide {
	display: none;
}

.arrow:hover {
	-webkit-animation:spin 2s linear infinite;
}

.link:hover {
	-webkit-animation:spin 2s linear infinite;
}

.tools {
	float: right; 
	width: 100px;
}

.stop {
	background-color: red;
	width: 10vw;
	height:10vw;
	border-radius: 50%;
	float: right;
	margin-right: 1.5%;
	cursor: not-allowed;
} 

.green {
	background-color: green;
	border: solid yellow 5px;
	border-radius: 50%;
}

.green:hover {
	width:11vw;
	height: 11vw;
	margin-right: 2%;
	margin-top: 1%;
}

.stop:hover {
	width: 11vw;
	height: 11vw;
	margin-right: 1%;
	margin-top: -1%;
}

.stop:active {
	background-color: #DC143C;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }









