body {
	margin-top: 2%;
}

h1 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 3pt;
}

.list {
	margin-left: 5%;
}

h2 {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
}

p {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;
/*	line-height: 170%;*/
}

a {
	text-decoration: none;
	color: black;
}

.hide {
	display: none;
	position: absolute;
	bottom: 100%;
}

.hover {
	background-color: rgb(201, 201, 201);
	width: 22%;
}

.noClick {
	cursor: auto;
}

@media screen and (max-width: 1000px) {

.hover {
	width: 40%;
}

}

@media screen and (max-width: 600px) {

.hover {
	width: 100%;
}

}



