body {
	background-color: black;
	margin-left: 12%;
	overflow: hidden;
}

div {
	background-color: orange;
	width: 10%;
	height: 10%;
	margin: 1px;
	margin-bottom: 5%;
}

.flame1 , .flame2 , .flame3 , .flame4 , .flame5 , .flame6 , .flame7 , .flame8{
	transition: linear;
	transition-delay: ;
	display: inline-block;
}

.flame1 {
	position: absolute;
	bottom: 0;
	right: 80%;
	animation: flames 10s ease infinite;
}

.flame2 {
	position: absolute;
	bottom: 0;
	right: 69.5%;
	animation: flames 5s ease infinite;
}

.flame3 {
	position: absolute;
	bottom: 0;
	right: 59%;
	animation: flames 20s ease infinite;
}

.flame4 {
	position: absolute;
	bottom: 0;
	right: 48.5%;
	animation: flames 15s ease infinite;
}

.flame5 {
	position: absolute;
	bottom: 0;
	right: 38%;
	animation: flames 9s ease infinite;
}

.flame6 {
	position: absolute;
	bottom: 0;
	right: 27.5%;
	animation: flames 25s ease infinite;
}

.flame7 {
	position: absolute;
	bottom: 0;
	right: 17%;
	animation: flames 5s ease infinite;
}

.flame8 {
	position: absolute;
	bottom: 0;
	right: 6.5%;
	animation: flames 10s ease infinite;
}


.red {
	background-color: red;
}

.yellow{
	background-color: green;
}

.small {
	max-height: 200px;
}

.medium {
	max-height: 400px;
}

@keyframes flames {

0% {
	background-color: #c18007;
}

25% {
	background-color: #e89e17;
}

50% {
	background-color: #ffbf00;
}

52% {
	background-color: #aa0e00;
}

70% {
	background-color: #fcab00;
}

90% {
	background-color: #e0730d;
}

92% {
	background-color: #e2e091;
}

100% {
	background-color: #ba7f00;
}




