html {
	padding: 0%;
	margin: 0%;
	overflow: hidden;
	cursor: pointer;
}

body {
	background-color: rgb(0, 35, 8);
	margin-top: 2%;
}

.box {
	background-color: rgb(6, 122, 21);
	height: 40%;
	width: 30%;
	margin: 1%;
	float: left;
	color: white;
	font-size: 3vw;
}

.team0, .team1, .team2, .team3, .team4 {
	position: relative;
	top: -90%;
	line-height: 150%;

}	

#team0, #team1, #team2, #team3, #team4 {
	position: relative;
	top: 60%;
	float: left;
	margin-right: 5%;
}

#add0, #add1, #add2, #add3, #add4 {
	position: relative; 
	left: 71.5%;
	top: 35%;
}

#min0, #min1, #min2, #min3, #min4  {
	position: relative; 
	top: 20%;
	left: 81.5%;
}

p {
	margin-left: 5%;
}

.pick {
	background-color: rgb(4, 158, 25);
}

/*.game {
	background-color: rgb(4, 158, 25);
	width: 90%;
	height: 15%;
	margin: auto;
	margin-bottom: 2%;
}
*/

.hide {
	display: none;
}

@media screen and (max-width: 900px) {

	.box {
		height: 17%;
		width: 90%;
	}

	.team0, .team1, .team2, .team3, .team4 {
		top: -70%;
		line-height: 150%;
	}	

	#team0, #team1, #team2, #team3, #team4 {
		float: right;
		top: -20%;
		right: 5%;
		margin-right: 5%;
		font-size: 7vw;
	}

	#add0, #add1, #add2, #add3, #add4 {
		position: relative; 
		left: 90%;
		top: 0%;
	}

	#min0, #min1, #min2, #min3, #min4  {
		position: relative; 
		top: -10%;
		left: 90%;
	}

}









