html {
	padding: 0%;
	margin: 0%;
	overflow: hidden;
}

body {
	background-color: rgb(0, 35, 8);
	margin-top: 2%;
}

.box {
	background-color: rgb(6, 122, 21);
	height: 40%;
	width: 30%;
	margin: 1%;
	float: left;
	color: white;
	font-size: 3vw;
}

.output, button, #add0 {
	position: relative;
	top: 0%;
	float: right;
	margin-right: 5%;
	margin-top: 1%;
}

/*p {
	margin: 5%;
}*/

.pick {
	background-color: rgb(4, 158, 25);
}

/*.game {
	background-color: rgb(4, 158, 25);
	width: 90%;
	height: 15%;
	margin: auto;
	margin-bottom: 2%;
}
*/

.hide {
	display: none;
}









