html {
	padding: 0%;
	margin: 0%;
	overflow: hidden;
}

body {
	background-color: rgb(0, 35, 8);
	margin-top: 2%;
}

div {
	background-color: rgb(6, 122, 21);
	height: 40%;
	width: 30%;
	margin: 1%;
	float: left;
}

p {
	color: white;
	font-size: 3vw;
	margin: 5%;
}

.pick {
	background-color: rgb(4, 158, 25);
}

.game {
	background-color: rgb(4, 158, 25);
	width: 90%;
	height: 13%;
	margin: auto;
	margin-bottom: 2%;
}
