body {
	background-color: black;
	color: white;
	font-family: "poppins", sansfamily ;
	width: 90vw ;
	margin-left: 5vw;
	line-height: 25px;
}

h1{
	font-family: "Audiowide", sansfamily ;
	font-size: 10vw;
}

h2, h3 {
	font-family: "Audiowide", sansfamily ;
}

a {
	color: rgba(0,255,0,50);
	text-decoration: none;
}

blockquote {
	border: 2px dashed rgb(0,255,0);
}

li {
	border: 5px solid gray ;
}

img {
	width: 60vw;
}