body {
	background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(231,56,39,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 48%, rgba(0,85,255,1) 52%, rgba(0,85,255,1) 100%);
   	overflow-x: hidden; 
    overflow-y: auto;
}


div {
	color: white;
	font-family: Garamond;
	font-size: 27pt;
	text-align: left;
	vertical-align: middle;
	line-height: 40px; 
	padding: 8%;

}

button {
	background-color:red;
	color:white;
	font-family: Garamond;
	border: none;
}

h1 {
	color: white;
	font-family: Garamond;
	font-size: 32pt;
	vertical-align: middle;
}

a {
	color: white;
	text-decoration: none;
}

img {
	width: 70px;
	position: absolute;
	top: 300px;
}

.a {
	line-height: 45px;
	position: absolute;
	top:100px;
}

.r {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 50%;
    text-align: center;
}

.d {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    left: 50%;
    text-align: center;
}

.q {
	position: relative;
	top: 80px;
	right: 2%;
}


