html, body {
  height: 100%;
}

body {
  transition: background-color 0.25s linear;
}

h1  {
  color: red;
  font-size: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.button {
  position: relative;
  top: 100px;
  left: 10px;
  width: 120px;
  height: 358px;
 /* top: 100px;
  width: 210px;
  height: 60px;
  border-radius: 8px;*/
  /*background-color: rgb(200, 200, 200);*/
  background-image: url("../img/switch-off.png");
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

 /*.focused {
  background-color: rgb(120,120,120);
  border: 1px solid rgb(255,20,34);
}*/

.active {
  /*background-color: rgb(200,20,34);
  border: 1px solid rgb(255,20,34);*/
  top: 50px;
  left: 600px;
  background-image: url("../img/switch-on.png"); 
}

.dark {
  background-color: black;

}

/*
  switch img
  width: 120px;
  height: 358px;
*/
