
body {
	background-image: url("../main_page/star.gif");
	font-family: "Benguiat ITC W01 Bold Cn", helvetica, serif;

}

div {
	background-color: black;
	border: white solid .25px;
	border-radius:2%;
	margin-top: 70px;
	margin-left: 5%;
	margin-right: 5%;
	height: 500px;
}

h1 {
	color: black;
	-webkit-text-stroke: 1px red;
	font-size: 40pt;
	text-align: center;
	line-height: 50px;
	letter-spacing: 3px;
}

a {
	font-family: itc;
	text-decoration: none;
	color: white;
	line-height: 50px;
	font-size: 20pt;
	padding-left: 10%;
	letter-spacing: 1px;
}

img {
	margin-left: 25%;
	width: 50%;
	max-height: 300px;
}

@font-face {
	font-family: "Benguiat ITC W01 Bold Cn";
	src: url(../main_page/stranger.ttf);
}

@font-face {
	font-family: "itc";
	src: url(../main_page/ITC.otf);
}

.a {
	width: 20px;
	margin-left: 80%;
}


@media screen and (max-width: 600px) {

img {
	width: 70%;
	margin-left:15%;
	margin-bottom: 0;
}

}



